.wrapper_edit_fin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.logo_img {
  position: absolute;
  left: 0vw;
  top: 7px;
}

.top_menu {
  position: relative;
  left: 00px;
  height: 60px;
  border-bottom: solid 1px gray;
  border-top: solid 1px gray;

}

.s_menu {
  position: relative;
  top: 15px;
  font-weight: 100px;
}

.edit_fin_middle_contents {
  display: flex;
  flex-direction: column;

  border-radius: 50px 50px 0px 0px;
  width: 90%;
  height: 100%;
  min-height: 87vh;
  margin-top: 6vh;

  background-color: #E3EDF9;
  align-items: center;
  justify-content: flex-start;

  overflow-y: auto;
}

.star_point {
  width: 15%;
  padding-top: 5%;
}

.Edit_Data h1 {
  position: relative;
  top: 100px;
  left: -750px;
  color: #3563E9;
}

.Edit_Data span {
  position: relative;
  top: 50px;
  left: -510px;
  font-size: 15px;
}

.cl_input {
  position: absolute;
  top: 200px;
  right: 820px;
  height: 400px;
  width: 500px;
}

.cl_output {
  position: absolute;
  top: 200px;
  right: 90px;
  height: 400px;
  width: 500px;
}

.Edit_Data_2 {
  position: relative;
  top: 600px;
}

.Edit_Data_2 h1 {
  position: relative;
  top: 100px;
  left: -600px;
  color: #3563E9;
}

.cl_input_2 {
  position: absolute;
  top: 180px;
  right: 820px;
  height: 400px;
  width: 500px;
}

.cl_output_2 {
  position: absolute;
  top: 180px;
  right: 90px;
  height: 400px;
  width: 500px;
}

.Edit_Data_2 span {
  position: relative;
  top: 50px;
  left: -505px;
  font-size: 15px;
}

.re_edit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #3563E9;
  color: white;
  font-size: 20px;
  border-width: 0;
  border-radius: 4px;
  width: 10%;
  height: 4vh;

  margin-bottom: 40px;

  margin-top: 5%;
}

.title_q {
  color: blue;
  font-size: 45px;
}

.title {
  font-size: 20px;
}

.edit_prev_after {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  align-items: center;

  margin-top: 5%;
  margin-left: 5%;
}

.prev_after_container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: 100%;
  height: 25%;
}

.text_box {
  display: flex;

  white-space: pre-wrap;

  width: 45%;
  height: 100%;
  min-height: 45vh;
  background-color: white;
  border-radius: 10px;
  border: solid 0.5px gray;
  padding: 10px;

  align-items: center;

  overflow-y: auto;
}